.container {
    flex: 1;
    align-items: 'center';
    justify-content: 'center';
    background-color: '#F5FCFF';
  }
  .title {
    font-size: 20;
    font-weight: 'bold';
    margin-bottom: 30;
  }
  .button {
    background-color: '#1E90FF';
    padding: 10;
    border-radius: 5;
    margin-bottom: 20;
  }
  .buttonText {
    color: '#FFFFFF';
    font-size: 18;
    font-weight: 'bold';
  }